name: Weather Push

on:
  schedule:
    - cron: '0 0,4,11,16 * * *' # UTC时间，对应北京时间 8:00, 12:00, 19:00, 0:00
  workflow_dispatch: # 允许手动触发

jobs:
  push:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3
      with:
        ref: github_action  # 指定使用 github_action 分支
      
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'
        
    - name: Cache pip packages
      uses: actions/cache@v3
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-
          
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        
    - name: Run weather push
    #   env:
        # 添加必要的环境变量
        # HEFENG_KEY: ${{ secrets.HEFENG_KEY }}
        # TIANAPI_KEY: ${{ secrets.TIANAPI_KEY }}
        # WX_APP_ID: ${{ secrets.WX_APP_ID }}
        # WX_APP_SECRET: ${{ secrets.WX_APP_SECRET }}
        # WX_TEMPLATE_ID: ${{ secrets.WX_TEMPLATE_ID }}
        # WX_USER_ID: ${{ secrets.WX_USER_ID }}
        # TG_BOT_TOKEN: ${{ secrets.TG_BOT_TOKEN }}
        # TG_CHAT_ID: ${{ secrets.TG_CHAT_ID }}
        # EMAIL_PASSWORD: ${{ secrets.EMAIL_PASSWORD }}
      run: |
        python weather_push.py 